@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


a{
    color: #4B3128;
    text-decoration: none;
}

a:hover{
    color: #4B3128;
    text-decoration: underline;
}



.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }